/*----- GOOGLE FONTS -----*/
@font-face {
    font-family: "Fira Code", monospace;
    src: url("/blogfolio/static/fonts/fira_code/FiraCode-VariableFont_wght.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu", sans-serif;
    src: url("/blogfolio/static/fonts/ubuntu/Ubuntu-Regular.ttf");
    font-display: swap;
}

/*----- GENERAL STYLES -----*/
body {
    font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fira Code", monospace;
}

/*----- NAVBAR -----*/
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 15;
}

/*----- ICONS & LOGO -----*/
.icon--smaller {
    width: 64px;
    height: 64px;
}
