{% extends "_base.html" %}
{% load static %}

{% block content %}
    <section class="bloghead mt-5 pt-5">
        <div class="container">
            <div class="row mt-5 pt-5">
                <div class="col col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1 class="site-heading text-center text-white">Personal Software Development Blog</h1>
                        <p class="text-white">
                            These are the voyages... <i class="ml-1 fa-solid fa-starship"></i>
                        </p>
                        <p class="text-white">
                            In this blog, I'll document my way into Tech, explore (for me) new technologies or best practices, and give an account of my failures and successes on my way to becoming a software engineer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="posts">
        <div class="container">
            <div class="row">
                <!-- Blog Entries Column -->
                <div class="col col-md-10 mx-auto mt-3">
                    {% for post in post_list %}
                    <div class="card mb-4 card__box-shadow">
                        <div class="card-header bg-primary">
                            <h2 class="card-title text-white">{{ post.title }}</h2>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                {{post.content|safe|linebreaks|slice:":200" }}
                            </p>
                            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More <span><i class="fa-regular fa-arrow-right"></i></span></a>
                        </div>
                        <div class="card-footer">
                            <p class="card-text text-muted h6">
                                {{ post.author|capfirst }} | {{ post.created_on}}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
