{% extends '_base.html' %}
{% load static %}

{% block content %}
    <!-- About -->
    <section id="about" class="mt-5 pt-5 text-center">
        <div class="container page-heading">
            <div class="row mt-5 pt-5">
                <div class="col">
                    <h1 class="text-center text-white">Scott Böning</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="text-center text-white">Bilingual Technical Support Engineer</h2>
                </div>
            </div>
        </div>
        <div class="section-heading">
            <h2 class=" mt-5 mb-4 heading__text--shadow text-white">About</h2>
        </div>
        <div class="container about p-3 mb-3 bg-light card card__box-shadow">
            <div class="row mb-5">
                <div class="col-6 col-md-4 col-xl-2">
                    <img class="img-fluid mb-3" src="{% static 'images/portrait_colour.png' %}" alt="portrait">
                </div>
                <div class="col-6 col-md-8 col-xl-10">
                    <p class="fs-5 text-start">Me in a nutshell:</p>
                    <ul class="mb-3 text-start">
                        <li>Born in Germany, now calling Dublin, Ireland, home since January 2023</li>
                        <li>Passionate about rugby - Go Leinster!</li>
                        <li>Huge Star Trek fan, currently learning Klingon</li>
                        <li>Tenacious problem-solver with a passion for technical troubleshooting and customer success</li>
                        <li>Coffee aficionado who loves light roasts brewed with my trusty Aeropress</li>
                        <li>Blondes and gingers do have more fun!</li>
                        <li>Always eager to learn new technologies and develop skills in programming and software testing</li>
                        <li>Bilingual: Fluent in both German and English, thriving in multicultural environments</li>
                    </ul>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <p class="fs-5 text-start">A deeper look</p>
                    <p class="text-start">
                    As a bilingual Technical Support Engineer, I’m dedicated to solving complex technical issues and delivering exceptional customer support. My expertise lies in troubleshooting Citrix CVAD (Virtual Apps and Desktops) and DaaS (Desktop-as-a-Service) environments, managing cases through Salesforce, and collaborating with cross-functional teams to ensure smooth issue resolution and client satisfaction.
                    </p>
                    <p class="text-start">
                    With a diploma in Full Stack Software Development, I bring a developer’s mindset to problem-solving, allowing me to approach technical challenges with creativity and precision. I’m also committed to expanding my knowledge, currently pursuing a Coursera specialization in software testing and automation, which further enhances my ability to deliver well-rounded, efficient solutions.
                    </p>
                    <p class="text-start">
                    My passion for continuous learning drives me to stay up-to-date with new technologies and methodologies, ensuring I provide the best possible outcomes for clients.
                    </p>
                    <p class="text-start">
                    If you're looking for a passionate Technical Support Engineer who thrives on solving complex issues and delivering exceptional customer experiences, feel free to get in touch.
                    </p>
                </div>
            </div>
            <div class="row mb-5 pb-4">
                <div class="col">
                    <div class="cta">
                    <a class="btn btn-primary resume fw-bolder" href="{% static 'scott_boening_cv.pdf' %} " role="button" download="scott_boening_cv">Get CV</a>
                    <a class="btn btn-primary fw-bolder" href="mailto:scott@sbftp.dev" role="button">Contact me</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio -->
    <section id="portfolio" class="pt-1 text-center">
        <div class="section-heading">
            <h2 class="mt-5 pt-3 heading__text--shadow">Portfolio</h2>
        </div>
        <div class="container portfolio-intro mb-5 pb-3 text-white">
        <div class="container portfolio-intro mb-4 text-white">
            <p>A selection of my projects in reverse chronological order.
            </p>
        </div>
        <div class="container projects px-1">
            <div class="row mt-3 mb-3 pb-3">
                <!-- Blogfolio -->
                <div class="col col-md-6 mb-5">
                    <div class="card h-100 text-white bg-primary text-center card__box-shadow">
                        <div class="card-header">
                            <h5 class="card-title text__shadow--light">Blogfolio</h5>
                            <span class="badge bg-secondary">Full Stack Frameworks</span>
                            <span class="badge bg-secondary">CI</span>
                            <span class="badge bg-secondary">Github actions</span>
                        </div>
                        <img src="/static/images/projects/blogfolio.png" class="card-img-top" alt="Screenshot with authors photo and info about coding background and some personal info">
                        <div class="card-body">
                            <img class="my-1" src="static/images/projects/html5.svg" alt="HTML5">
                            <img class="my-1" src="static/images/projects/css3.svg" alt="CSS3">
                            <img class="my-1" src="static/images/projects/js.svg" alt="JavaScript">
                            <img class="my-1" src="static/images/projects/bootstrap.svg" alt="jQuery">
                            <img class="my-1" src="static/images/projects/python.svg" alt="Python">
                            <img class="my-1" src="static/images/projects/django_shield.svg" alt="Django">
                            <img class="my-1" src="static/images/projects/postgresql.svg" alt="PostgreSQL">
                            <img class="my-1" src="static/images/projects/heroku.svg" alt="Heroku">
                            <img class="my-1" src="static/images/projects/docker-shield.svg" alt="Docker">
                        </div>
                        <div class="card-footer bg-secondary ">
                            <a class="btn btn-primary" href="https://github.com/Ryagg/blogfolio" class="card-link">Repo</a>
                            <a class="btn btn-primary" href="https://scott.sbftp.dev"
                                class="card-link">Deployed site</a>
                        </div>
                    </div>
                </div>

                <!-- SciFi Zone -->
                <div class="col col-md-6 mb-5">
                    <div class="card h-100 text-white bg-primary text-center card__box-shadow">
                        <div class="card-header">
                            <h5 class="card-title text__shadow--light">SciFi Zone</h5>
                            <span class="badge bg-secondary">Code Institute</span>
                            <span class="badge bg-secondary">Milestone 4</span>
                            <span class="badge bg-secondary">Full Stack Frameworks</span>
                        </div>
                        <img src="/static/images/projects/ms4.png" class="card-img-top" alt="Landing page screenshot for SciFi Zone showing basic info and images of invited guests">
                        <div class="card-body">
                            <img class="my-1" src="static/images/projects/html5.svg" alt="HTML5">
                            <img class="my-1" src="static/images/projects/css3.svg" alt="CSS3">
                            <img class="my-1" src="static/images/projects/js.svg" alt="JavaScript">
                            <img class="my-1" src="static/images/projects/jquery.svg" alt="jQuery">
                            <img class="my-1" src="static/images/projects/bulma.svg" alt="Bulma">
                            <img class="my-1" src="static/images/projects/python.svg" alt="Python">
                            <img class="my-1" src="static/images/projects/django_shield.svg" alt="Django">
                            <img class="my-1" src="static/images/projects/postgresql.svg" alt="PostgreSQL">
                            <img class="my-1" src="static/images/projects/heroku.svg" alt="Heroku">
                            <img class="my-1" src="static/images/projects/amazonaws.svg" alt="Amazon AWS">
                            <img class="my-1" src="static/images/projects/stripe.svg" alt="Stripe">
                            <img class="my-1" src="static/images/projects/pytest.svg" alt="Pytest">
                        </div>
                        <div class="card-footer bg-secondary ">
                            <a class="btn btn-primary" href="https://github.com/Ryagg/scifi_zone" class="card-link">Repo</a>
                            <a class="btn btn-primary" href="https://ms4-scifi-zone.herokuapp.com/"
                                class="card-link">Deployed site</a>
                        </div>
                    </div>
                </div>
                <!-- ST-Archive -->
                <div class="col col-md-6 mb-5">
                    <div class="card h-100 text-white bg-primary text-center card__box-shadow">
                        <div class="card-header">
                            <h5 class="card-title text__shadow--light">ST-Archive</h5>
                            <span class="badge bg-secondary">Code Institute</span>
                            <span class="badge bg-secondary">Milestone 3</span>
                            <span class="badge bg-secondary">Data-centric Development</span>
                        </div>
                        <img src="/static/images/projects/ms3.png" class="card-img-top" alt="Screenshot of ST Archive showing a filtered view for all books from 'Discovery'">
                        <div class="card-body">
                            <img class="my-1" src="static/images/projects/html5.svg" alt="HTML5">
                            <img class="my-1" src="static/images/projects/css3.svg" alt="CSS3">
                            <img class="my-1" src="static/images/projects/js.svg" alt="JavaScript">
                            <img class="my-1" src="static/images/projects/jquery.svg" alt="jQuery">
                            <img class="my-1" src="static/images/projects/bulma.svg" alt="Bulma">
                            <img class="my-1" src="static/images/projects/python.svg" alt="Python">
                            <img class="my-1" src="static/images/projects/jinja_shield.svg" alt="Jinja">
                            <img class="my-1" src="static/images/projects/flask.svg" alt="Flask">
                            <img class="my-1" src="static/images/projects/mongodb.svg" alt="MongoDB">
                            <img class="my-1" src="static/images/projects/heroku.svg" alt="Heroku">
                        </div>
                        <div class="card-footer bg-secondary">
                            <a class="btn btn-primary" href="https://github.com/Ryagg/st-archive" class="card-link">Repo</a>
                            <a class="btn btn-primary" href="https://ms3-st-archive.herokuapp.com/"
                                class="card-link">Deployed site</a>
                        </div>
                    </div>
                </div>
                <!-- Coffee maestro -->
                <div class="col col-md-6 mb-5">
                    <div class="card h-100 text-white bg-primary text-center card__box-shadow">
                        <div class="card-header">
                            <h5 class="card-title text__shadow--light">Coffee maestro</h5>
                            <span class="badge bg-secondary">Code Institute</span>
                            <span class="badge bg-secondary">Milestone 1</span>
                            <span class="badge bg-secondary">User-centric Frontend Development</span>
                        </div>
                        <img src="/static/images/projects/ms1.png" class="card-img-top" alt="Screenshot for Coffee Maestro showing information about the available courses">
                        <div class="card-body">
                            <img class="my-1" src="static/images/projects/html5.svg" alt="HTML5">
                            <img class="my-1" src="static/images/projects/css3.svg" alt="CSS3">
                            <img class="my-1" src="static/images/projects/jquery.svg" alt="jQuery">
                            <img class="my-1" src="static/images/projects/bootstrap.svg" alt="Bootstrap">
                        </div>
                        <div class="card-footer bg-secondary">
                            <a class="btn btn-primary" href="https://github.com/Ryagg/ms1-coffee-maestro" class="card-link">Repo</a>
                            <a class="btn btn-primary" href="https://ryagg.github.io/ms1-coffee-maestro"
                                class="card-link">Deployed site</a>
                        </div>
                    </div>
                </div>
                <!-- In memoriam Whitey -->
                <div class="col col-md-6 mb-5">
                    <div class="card h-100 text-white bg-primary  text-center card__box-shadow">
                        <div class="card-header">
                            <h5 class="card-title text__shadow--light">In memoriam Whitey</h5>
                            <span class="badge bg-secondary">My very first website</span>
                        </div>
                        <img src="/static/images/projects/in-memoriam-whitey.png" class="card-img-top" alt="Screenshot for In memoriam Whitey showing a picture of a cat on a couch and text in German">
                        <div class="card-body">
                            <img class="my-1" src="static/images/projects/html5.svg" alt="HTML5">
                            <img class="my-1" src="static/images/projects/css3.svg" alt="CSS3">
                        </div>
                        <div class="card-footer bg-light">
                            <a class="btn btn-primary" href="https://in-memoriam-whitey.de/"
                                class="card-link">Deployed site</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Skills -->
    <section id="skills" class="pt-1 text-center">
        <div class="section-heading">
            <h2 class="mb-4 pb-4 heading__text--shadow">Skills</h2>
        </div>
        <div class="container skills p-3 mb-5 bg-light card card__box-shadow">
            <div class="row">
            <!-- Programming languages -->
                <div class="col col-md-6 text-center">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Python" src="{% static 'images/skills/python-original.svg' %}" alt="Python">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Java" src="{% static 'images/skills/java-original.svg' %}" alt="Java">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="JavaScript" src="{% static 'images/skills/javascript-original.svg' %} " alt="JavaScript">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="HTML5" src="{% static 'images/skills/html5-original.svg'  %} " alt="HTML5">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="CSS3" src="{% static 'images/skills/css3-original.svg' %} " alt="CSS3">
                </div>
                <!-- Frameworks & libraries -->
                <div class="col col-md-6 text-center">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="Bulma" src="{% static 'images/skills/bulma-plain.svg' %}" alt="Bulma">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="Bootstrap" src="{% static 'images/skills/bootstrap-original.svg' %}"
                        alt="Bootstrap">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="Django" src="{% static 'images/skills/django-negative.svg' %}" alt="Django">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="Flask" src="{% static 'images/skills/flask-original.svg' %}" alt="Flask">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="Jinja" src="{% static 'images/skills/jinja.svg' %}" alt="Jinja">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="jQuery" src="{% static 'images/skills/jquery-original.svg' %}" alt="jQuery">
                </div>
            </div>
            <div class="row">
                <!-- Version control, coding, container, testing & wireframes -->
                <div class="col col-md-6 text-center">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="Git" src="{% static 'images/skills/git-original.svg' %}" alt="Git">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="Github" src="{% static 'images/skills/github-original.svg' %}" alt="Github">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="VS Code" src="{% static 'images/skills/vscode-original.svg' %}" alt="VS Code">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="Docker" src="{% static 'images/skills/docker-vertical.webp' %}" alt="Docker">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="PyTest" src="{% static 'images/skills/pytest-original.svg' %}" alt="PyTest">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="Balsamiq" src="{% static 'images/skills/balsamiq.svg' %}" alt="Balsamiq">
                </div>
                <!-- Databases, hosting & SaaS -->
                <div class="col col-md-6 text-center">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="PostgreSQL" src="{% static 'images/skills/postgresql-original.svg' %}"
                    alt="PostgreSQL">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="MongoDB" src="{% static 'images/skills/mongodb-original.svg' %}" alt="MongoDB">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="Heroku" src="{% static 'images/skills/heroku-original.svg' %}" alt="Heroku">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" data-bs-custom-class="custom-tooltip"data-bs-toggle="tooltip" data-bs-placement="top" title="AWS" src="{% static 'images/skills/amazonwebservices.svg' %}"
                    alt="AWS">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block postloadjs %}
    <script src="{% static 'js/skills.js' %}"></script>
{% endblock %}
