{% extends '_base.html' %}
{% load static %}

{% block content %}
    <!-- About -->
    <section id="about" class="mt-5 pt-5 text-center bg-light">
        <div class="section-heading">
            <h2 class="mt-4 heading__text--shadow">About</h2>
        </div>
        <div class="container about">
            <div class="row">
                <div class="col-6 col-md-4 col-xl-2">
                    <img class="img-fluid mb-3" src="{% static 'images/portrait_colour.png' %}" alt="portrait">
                </div>
                <div class="col-6 col-md-8 col-xl-10">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum quam assumenda, reiciendis
                        amet esse sequi aliquid eaque rerum cupiditate, eum quos iste cum, ipsa ipsam odio voluptatem aut
                        sunt.
                    </p>
                    <ul class="mb-3 text-start">
                        <li>text 1 Lorem ipsum dolor sit amet</li>
                        <li>text 2</li>
                        <li>text 3</li>
                        <li>text 4</li>
                        <li>text 5</li>
                        <li>text 6</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio -->
    <section id="portfolio" class="pt-1 text-center bg-dark">
        <div class="section-heading">
            <h2 class="mt-4 heading__text--shadow">Portfolio</h2>
        </div>
        <div class="container portfolio-intro">
            <p>A selection of my projects in reverse chronological order.
            </p>
        </div>
        <div class="container projects">
            <div class="row">
                <!-- SciFi Zone -->
                <div class="col col-md-6 mb-4">
                    <div class="card h-100 text-white bg-primary text-center card__box-shadow">
                        <div class="card-header">
                            <h5 class="card-title text__shadow--light">SciFi Zone</h5>
                            <span class="badge bg-dark">Code Institute</span>
                            <span class="badge bg-dark">Milestone 4</span>
                            <span class="badge bg-dark">Full Stack Frameworks</span>
                        </div>
                        <img src="/static/images/projects/ms4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <!-- <p class="card-text">Special features:
                            <ul class="list-group ">
                            <li class="list-group-item">Full text search across multiple models</li>
                            <li class="list-group-item">Added security through CORS and CSP</li>
                            </ul>
                            </p> -->

                            <img class="my-1" src="static/images/projects/html5.svg" alt="HTML5">
                            <img class="my-1" src="static/images/projects/css3.svg" alt="CSS3">
                            <img class="my-1" src="static/images/projects/js.svg" alt="JavaScript">
                            <img class="my-1" src="static/images/projects/jquery.svg" alt="jQuery">
                            <img class="my-1" src="static/images/projects/bulma.svg" alt="Bulma">
                            <img class="my-1" src="static/images/projects/python.svg" alt="Python">
                            <img class="my-1" src="static/images/projects/jinja_shield.svg" alt="Jinja">
                            <img class="my-1" src="static/images/projects/django_shield.svg" alt="Django">
                            <img class="my-1" src="static/images/projects/postgresql.svg" alt="PostgreSQL">
                            <img class="my-1" src="static/images/projects/heroku.svg" alt="Heroku">
                            <img class="my-1" src="static/images/projects/amazonaws.svg" alt="Amazon AWS">
                            <img class="my-1" src="static/images/projects/stripe.svg" alt="Stripe">
                            <img class="my-1" src="static/images/projects/pytest.svg" alt="Pytest">
                        </div>

                        <div class="card-footer bg-light ">
                            <a class="btn btn-primary" href="https://github.com/Ryagg/scifi_zone" class="card-link">Repo</a>
                            <a class="btn btn-primary" href="https://ms4-scifi-zone.herokuapp.com/"
                                class="card-link">Deployed site</a>
                        </div>
                    </div>
                </div>
                <!-- ST-Archive -->
                <div class="col col-md-6 mb-4">
                    <div class="card h-100 text-white bg-primary text-center card__box-shadow">
                        <div class="card-header">
                            <h5 class="card-title text__shadow--light">ST-Archive</h5>
                            <span class="badge bg-warning">Code Institute</span>
                            <span class="badge bg-warning">Milestone 3</span>
                            <span class="badge bg-warning">Data-centric Development</span>
                        </div>
                        <img src="/static/images/projects/ms3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's
                                content.</p> -->
                            <img class="my-1" src="static/images/projects/html5.svg" alt="HTML5">
                            <img class="my-1" src="static/images/projects/css3.svg" alt="CSS3">
                            <img class="my-1" src="static/images/projects/js.svg" alt="JavaScript">
                            <img class="my-1" src="static/images/projects/jquery.svg" alt="jQuery">
                            <img class="my-1" src="static/images/projects/bulma.svg" alt="Bulma">
                            <img class="my-1" src="static/images/projects/python.svg" alt="Python">
                            <img class="my-1" src="static/images/projects/jinja_shield.svg" alt="Jinja">
                            <img class="my-1" src="static/images/projects/flask.svg" alt="Flask">
                            <img class="my-1" src="static/images/projects/mongodb.svg" alt="MongoDB">
                            <img class="my-1" src="static/images/projects/heroku.svg" alt="Heroku">
                        </div>

                        <div class="card-footer bg-light">
                            <a class="btn btn-dark" href="https://github.com/Ryagg/st-archive" class="card-link">Repo</a>
                            <a class="btn btn-dark" href="https://ms3-st-archive.herokuapp.com/"
                                class="card-link">Deployed site</a>
                        </div>
                    </div>
                </div>
                <!-- Coffee maestro -->
                <div class="col col-md-6 mb-4">
                    <div class="card h-100 text-white bg-primary text-center card__box-shadow">
                        <div class="card-header">
                            <h5 class="card-title text__shadow--light">Coffee maestro</h5>
                            <span class="badge bg-light">Code Institute</span>
                            <span class="badge bg-light">Milestone 1</span>
                            <span class="badge bg-light">User-centric Frontend Development</span>
                        </div>
                        <img src="/static/images/projects/ms1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's
                                content.</p> -->
                            <img class="my-1" src="static/images/projects/html5.svg" alt="HTML5">
                            <img class="my-1" src="static/images/projects/css3.svg" alt="CSS3">
                            <img class="my-1" src="static/images/projects/jquery.svg" alt="jQuery">
                            <img class="my-1" src="static/images/projects/bootstrap.svg" alt="Bootstrap">
                        </div>

                        <div class="card-footer bg-light">
                            <a class="btn btn-primary" href="https://github.com/Ryagg/ms1-coffee-maestro" class="card-link">Repo</a>
                            <a class="btn btn-primary" href="https://ryagg.github.io/ms1-coffee-maestro"
                                class="card-link">Deployed site</a>
                        </div>
                    </div>
                </div>
                <!-- In memoriam Whitey -->
                <div class="col col-md-6 mb-4">
                    <div class="card h-100 text-white bg-primary  text-center card__box-shadow">
                        <div class="card-header">
                            <h5 class="card-title text__shadow--light">In memoriam Whitey</h5>
                            <span class="badge bg-dark">My very first website</span>
                        </div>
                        <img src="/static/images/projects/in-memoriam-whitey.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's
                                content.</p> -->
                            <img class="my-1" src="static/images/projects/html5.svg" alt="HTML5">
                            <img class="my-1" src="static/images/projects/css3.svg" alt="CSS3">
                        </div>

                        <div class="card-footer bg-light">
                            <a class="btn btn-primary" href="https://in-memoriam-whitey.de/"
                                class="card-link">Deployed site</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Skills -->
    <section id="skills" class="pt-1 text-center bg-light">
        <div class="section-heading">
            <h2 class="mt-4 heading__text--shadow">Skills</h2>
        </div>
        <div class="container skills">
            <div class="row">
            <!-- Programming languages -->
                <div class="col col-md-6 text-center">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/python-original.svg' %}" alt="Python">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/html5-original.svg'  %} " alt="HTML5">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/css3-original.svg' %} " alt="CSS3">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/javascript-original.svg' %} " alt="JavaScript">
                    <!-- <img class="shield icon--smaller mx-2" src="static/images/skills/java-original.svg" alt="Java"> -->
                </div>
                <!-- Frameworks & libraries -->
                <div class="col col-md-6 text-center">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/bulma-plain.svg' %}" alt="Bulma">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/bootstrap-original.svg' %}"
                        alt="Bootstrap">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/django-negative.svg' %}" alt="Django">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/flask-original.svg' %}" alt="Flask">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/jinja.svg' %}" alt="Jinja">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/jquery-original.svg' %}" alt="jQuery">
                </div>
            </div>
            <div class="row">
                <!-- Version control, coding, container, testing & wireframes -->
                <div class="col col-md-6 text-center">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/git-original.svg' %}" alt="Git">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/github-original.svg' %}" alt="Github">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/vscode-original.svg' %}" alt="VS Code">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/docker-vertical.webp' %}" alt="Docker">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/pytest-original.svg' %}" alt="PyTest">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/balsamiq.svg' %}" alt="Balsamiq">
                </div>
                <!-- Databases, hosting & SaaS -->
                <div class="col col-md-6 text-center">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/postgresql-original.svg' %}"
                    alt="PostgresQL">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/mongodb-original.svg' %}" alt="MongoDB">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/heroku-original.svg' %}" alt="Heroku">
                    <img class="icon--smaller icon-skills m-2 hvr-pop" src="{% static 'images/skills/amazonwebservices.svg' %}"
                    alt="Amazon AWS">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
