{% extends "base.html" %}
{% load static %}


{% block content %}
    <section id="privacy_policy" class="mt-5 pt-5 text-center">
        <div class="container page-heading">
            <div class="row mt-5 pt-5">
                <div class="col">
                    <h1 class="text-center text-white">Site Notice</h1>
                </div>
            </div>
        </div>
        <div class="container p-3 mb-3 bg-light">
            <div class="row mb-5">
                <div class="col">
                    <h2 class="mt-5">Information
                        pursuant to Sect. 5 German Telemedia Act (TMG)</h2>
                    <p class="fs-5">
                        Scott Böning
                    </p>
                    <p class="fs-5">
                        Färbergraben 6
                    </p>
                    <p class="fs-5">
                        94469 Deggendorf
                    </p>
                    <p class="fs-5">
                        Germany
                    </p>
                </div> <!-- end of column -->
            </div> <!-- end of row -->
            <div class="row mb-5">
                <div class="col">
                    <h2 class="mt-5">Contact</h2>
                    <p class="fs-5">
                        Phone: +49 1523 2788911
                    </p>
                    <p class="fs-5">
                        Telefax: +49 991 40861330
                    </p>
                    <p class="fs-5">
                        E-mail: scott.boening@gmx.de
                    </p>
                </div> <!-- end of column -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section>
{% endblock %}
